<?xml version="1.0" encoding="utf-8"?>

<!-- This is an example LocalSettings configuration. Simply make a copy of this with the name "App.LocalSettings.config" and it will appear in the solution, underneath App.config. -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!-- We use XTD transformation to provide our accountId and authToken. -->
    <appSettings xdt:Transform="Insert">
        <add key="accountId" value="{your account id}"  />
        <add key="authToken" value="{your auth token}" />
    </appSettings>
</configuration>
